body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aqua;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App{
  background-color: blue;
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
  color: beige;
}
.navbar{
  padding: 10px 20px;
  text-align: center;
  background-color: cadetblue;
}
.navbar h1{
  margin: 10px 0;
  color: khaki;
}
.book-list{
  margin: 20px;
}
.book-list ul{
  padding: 0;
  list-style: none;
}
.book-list li{
  background-color: aquamarine;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}
.book-list li:hover{
  opacity: 0.7;
  text-decoration: line-through;
}

form{
  padding: 20px;
}
input[type='text']{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 6px 0;
  background-color: azure;
  color: black;
  border: 0;
}
input[type='submit']{
  margin: 10px auto;
  background-color: green;
  border-radius: 50px;
  padding: 6px 20px;
  display: block;
}
